@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

.Toastify__toast {
  font-size: 14px;
}

.Toastify__progress-bar {
  background: #2563eb;
}
